:root {
  --one-color: #0b1d51;
  --two-color: #725cad;
  --three-color: #8ccdeb;
  --four-color: #ffe3a9;
  --text-color: #383838;
  --bg-color: #e5e5e5;
}

html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}