.page {
  /* background-image: url("https://nciholasegner.s3.us-east-2.amazonaws.com/images/background_one.webp"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
}

/* *********SKILLS ********* */
.cont {
  padding: 20px;
}
.skillsBtnContain {
  display: flex;
  gap: 10px;
}
.skillsBtn {
  background-color: rgb(91, 121, 255);
  color: aliceblue;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}
